* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: black;
}

.navigation {
    height: 100vh;
}

.menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 45px;
    padding-left: 20%;
    padding-right: 20%;
    margin-top: -50px;
    margin-bottom: 30px;
}

.logo {
    color: white;
    font-size: 35px;
    letter-spacing: 1px;
    cursor: pointer;
    padding-top: 50px;
    padding-left: 50px;
}

.logo:hover {
    color: #f9004d;
    ;
    transition: .4s;
}

.logo span {
    color: #f9004d;
    text-transform: uppercase;
}

.logo span:hover {
    color: white;
    transition: .4s;
}

nav ul li {
    color: white;
    padding: 10px 25px;
    list-style-type: none;
    display: inline-block;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    text-transform: capitalize;
}

nav ul li a:hover {
    color: #f9004d;
    transition: .4s;
}

.main {
    width: 100%;
    padding: 100px 0px;
    background-color: #191919;
    width: 1130px;
    max-width: 95%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-radius: 10px;
}

.main img {
    height: auto;
    width: 400px;
    border-radius: 50%;
    box-shadow:1px 10px 1px 1px  #f9004d;;
}

.about-text {
    width: 550px;
}

.about-text h2 {
    color: white;
    font-size: 75px;
    text-transform: capitalize;
    margin-bottom: 20px;
}

.about-text h5 {
    color: white;
    letter-spacing: 2px;
    font-size: 22px;
    margin-bottom: 25px;
    text-transform: capitalize;
}

h5 span {
    color: #f9004d;
}

p span {
    color: #f9004d;
}

.about-text p {
    color: #fcfc;
    letter-spacing: 1px;
    line-height: 28px;
    font-size: 18px;
    margin-bottom: 45px;
}

button {
    background-color: #f9004d;
    text-decoration: none;
    border: 2px solid transparent;
    padding: 13px 30px;
    border-radius: 50px;
    transition: .5s;
}

button:hover {
    background-color: transparent;
    border: 2px solid #f9004d;
    cursor: pointer;
}

.projects h1 {
    text-align: center;
    color: #f9004d;
    text-transform: capitalize;
    padding-top: 50px;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center
}

.container .container-main {
    width: 300px;
    padding: 30px 35px;
    border-radius: 10px;
    background-color: #191919;
    color: white;
    margin-bottom: 50px;
    margin-left: 50px;
    margin-right: 50px;
}

.linkedin,
.linkedin a {
    text-align: center;
    color: #0e76a8;
    font-size: 30px;
}

.github,
.github a {
    text-align: center;
    color: #5b5959;
    font-size: 30px;
}

.whatsapp,
.whatsapp a {
    color: #a4c639;
    text-align: center;
    font-size: 30px;
}





/***************
.container {
    display: flex;
    display: inline-block;
    text-align: center;
    letter-spacing: 1px;
    justify-content: center;
    align-items: center;
    

}

.container .card {

    width: 300px;
    padding: 30px 35px;
    border-radius: 10px;
    background-color: #191919;
    color: white;
    
 

}

button .card-button{
    margin-top: 100px;
}
****************/